<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title ion-title class="tb">
        South Korea
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <img src="assets/southkorea/skflag.png" id="imgflag" class="background ion-padding">
  <h3 class="ion-text-justify">
    <b>5 Most Popular Tourist Spot in South Korea</b>
  </h3>
  <img src="assets/southkorea/skstart.jpg" alt="#" class="phstartbg">
  <p class="ion-text-justify"> Seoul, South Korea is a vibrant and exciting city, one that deftly combines ancient history with ultra-modern design and technology. The city is filled with a wide range of tourist attractions of all types, from outdoor adventures like exploring Mount Namsan and its surrounding park to indoor fun like visiting one of Seoul's many museums. <br>
  <br>
  Of course it's also known for its food, with a mouthwatering array of street food, Korean specialties like barbecue, and fine-dining options. Discover the best places to visit in this exciting city with our list of the top attractions and things to do in Seoul.
  </p>

  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Top of Mount Namsan | South Korea</ion-card-subtitle>
      <ion-card-title>1. CHERRY BLOSSOMS AT SEOUL TOWER</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/southkorea/cherry.jpg" />
    <ion-card-content class="ion-text-justify">
      Rising almost 500 meters above the city, this communications and observation tower provides dramatic views of the city from its perch on the side of Mount Namsan. A cable car whisks you up the side of the mountain to the base of the tower. From here, you can go up in the tower and visit any one of four observation decks, one of which is a rotating restaurant. <br>
      <br>
      There are five different dining experiences at the N Seoul Tower and, of course, several gift shops. The n.GRILL, on the top level, is considered one of Seoul's best French fine-dining restaurants. Be sure to visit the new Inside Seoul immersive media art exhibition, where 40 laser projectors create a virtual display of the city via five-dimensional mapping, with the tower at the center. <br>
      <br>
      The views from the tower are great, but so are the views of the tower from most parts of the city. Computer-controlled LED lighting on the exterior of the tower provides a digital, visual cultural experience of Seoul with changing themed lighting presentations.
    </ion-card-content>
  </ion-card>
  
  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Gyeongbokgung Palace | South Korea</ion-card-subtitle>
      <ion-card-title>2. GWANGHWAMUN GATE</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/southkorea/gate.jpg" />
    <ion-card-content class="ion-text-justify">
      The largest and main gate to Seoul's Gyeongbokgung Palace, Gwanghwamun Gate is home to the changing of the guards ceremony (performed since 1469), which happens daily (except Tuesdays) at 10am and 2pm. The gate has undergone many renovations and rebuilding, most recently in 2010, when it was restored to its original location and reconstructed with native materials using traditional tools and building techniques. <br>
      <br>
      There's a large plaza in front, and the gate sits in front of the vast Gwanghwamun Square, home to frequent political demonstrations, a large subway station, giant fountain, and some huge statues of Joseon-era leaders. <br>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Jongno-gu, Seoul | South Korea</ion-card-subtitle>
      <ion-card-title>3. CHEONGYECHEON STREAM</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/southkorea/stream.jpg" />
    <ion-card-content class="ion-text-justify">
      This natural creek that flows through central Seoul was covered over by highways in the post-Korean War economic boom. Seven miles of the creek were uncovered as part of an urban revitalization project and turned into an outdoor recreation area, opening in 2005. <br>
      <br>
      There are now seven miles of creek-side hiking, walking and biking trails. It really has changed the CBD of Seoul by bringing an artery of water and green into what was a very urbanized, crowded area. The creek is also home to the spectacular Seoul Lantern Festival, held each November. Ornate, lighted paper lanterns are displayed in and along the creek, and each night, thousands of people line the creek to view and enjoy the floating artwork. <br>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Seongbuk-gu, Seoul | South Korea</ion-card-subtitle>
      <ion-card-title>4. BAEGUNDAE PEAK, BUKHANSAN PARK</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/southkorea/park.JPG" />
    <ion-card-content class="ion-text-justify">
      Set within the strikingly beautiful landscape of the Bukhansan National Park, Jingwansa is an ancient temple complex offering many ways to experience and learn about Buddhism and temple life. The traditional buildings are surrounded by miles of hiking trails (you can come here just to hike) snaking through the mountains.Jingwansa is on the far west side of the city, one of the four major temples of Seoul first built around 1,000 BC. <br>
      <br>
      The temple, which grows most of its own food (and even ferments its own kimchee), has a range of public programs. There's a temple stay program, which includes an overnight visit, plus there are cultural and learning programs. They also offer foodie experiences like a traditional vegetarian temple meal, as eaten by the monks. <br>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Jung-gu, Seoul | South Korea</ion-card-subtitle>
      <ion-card-title>5. DONGDAEMUN DESIGN PLAZA</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/southkorea/plaza.jpg" />
    <ion-card-content class="ion-text-justify">
      Known by its initials, the DDP is a very cool design center in Seoul's Dongdaemun area. Dongdaemun, Seoul's fashion district, is also known for its shopping; there are a lot of department stores and discount clothing and houseware stores in the area. The silver, orb-like flowing DDP building looks like something from outer space. It was designed by the late Iraqi-British architect Zaha Hadid, considered one of the great female architects of the modern era. In perhaps Seoul's ultimate contrast, there are ruins of the ancient city fortress preserved just outside the front entrance of the design center. <br>
      <br>
      At night, the design center comes alive, the highlight being 25,550 white LED roses that light up. The silver-colored, modern, curving building and the rows of artificial flowers make the DDP one of Seoul's best Instagram spots. <br>
    </ion-card-content>
  </ion-card>

  <ion-button routerLink="/china" class="ion-margin" color="black">
    <b>Next Country</b>
  </ion-button>

</ion-content>