ion-menu-button {
    color: #D2DE32;
    margin-left: 1.5%;
}

ion-title.tb {
    --ion-font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #D2DE32;
}

ion-content.background{
    --ion-background-color: #FFFFDD;
}

h3 {
    text-shadow: 1px 2px 5px gray;
}

p {
    line-height: 1.5rem;
}
