<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title ion-title class="tb">
        Indonesia
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <img src="assets/indonesia/indoflag.jpg" id="imgflag" class="background ion-padding">
  <h3 class="ion-text-justify">
    <b>5 Most Popular Tourist Spot in Indonesia</b>
  </h3>
  <img src="assets/indonesia/indostart.jpg" alt="#" class="phstartbg">
  <p class="ion-text-justify"> The Indonesian archipelago is a collection of islands that holds untold treasures in its diversity of cultures, landscapes, and cities. With nearly 13,500 islands under its jurisdiction, Indonesia offers an adventure for everyone, from exploring ancient temples and hiking active volcanoes to diving in largely untouched waters. <br>
  <br>
  Whatever you choose, the experience is sure to be one filled with awe and appreciation for a country as steeped in history and natural beauty as this one. Find the best places to visit with our list of the top attractions in Indonesia.
  </p>

  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Bali | Indonesia</ion-card-subtitle>
      <ion-card-title>1. BEACHES OF BALI</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/indonesia/bali.jpg" />
    <ion-card-content class="ion-text-justify">
      Arguably Indonesia's most popular vacation spot, Bali has a number of cultural landmarks and traditions that make a visit here worthwhile. But, for many people, Bali is about the island's beautiful beaches. If a beach vacation is what you're looking for, you may want to head to one of Bali's luxury beach resorts and spend some time soaking up the sun. <br>
      <br>
      Anyone who travels to Bali is going to have warm sand and blue water on their mind, and the island doesn't disappoint. Kuta is the best known beach, and is great for those who like to combine sun, surfing, and socializing. Because of its popularity, you'll find no shortage of restaurants and things to do here. <br>
      <br>
      If you're looking for something a little quieter and less crowded, Nusa Dua is still a beauty, but draws fewer tourists. Sanur is the place to go for a little more culture, as well as great water sports.
    </ion-card-content>
  </ion-card>
  
  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Magelang, Central Java | Indonesia</ion-card-subtitle>
      <ion-card-title>2. BOROBUDUR TEMPLE</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/indonesia/borobudur.jpg" />
    <ion-card-content class="ion-text-justify">
      This ancient temple is one of the most famous and culturally significant landmarks in Indonesia. Borobudur was built in the 8th century and constructed in the shape of a traditional Buddhist mandala. It is one of the top UNESCO World Heritage sites, and is considered one of the greatest Buddhist sites in the world. <br>
      <br>
      The massive temple was forgotten for centuries, when it is believed that much of the population moved to eastern Java due to volcanic eruptions. But it was rediscovered in the 1800s and, today, is one of the main draws in Java. <br>
      <br>
      Visit at sunrise for a torch-light climb up the temple and for the breathtaking experience of watching as the complex is bathed in sunlight. Borobudur lies near Yogyakarta, an old Javanese city known for its rich cultural and historical offerings.
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Lombok | Indonesia</ion-card-subtitle>
      <ion-card-title>3. GILI ISLAND</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/indonesia/gili.jpg" />
    <ion-card-content class="ion-text-justify">
      The Gili Islands are a major draw in Lombok, which has risen in popularity among backpackers and tourists over the years. These picturesque islands offer beaches that rival those of Bali in their beauty, as well as opportunities for diving and even snorkeling at a turtle sanctuary. If you're looking for more turtle action, you can check out a turtle hatchery where hundreds of these creatures are born each year. <br>
      <br>
      Kayaking is also popular in the Gilis, and if you're seeking a place to reconnect with your mind and body, you will find several options for yoga classes. The Gili Islands provide a more relaxed, though still stimulating, alternative to popular Bali.
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Sulawesi | Indonesia</ion-card-subtitle>
      <ion-card-title>4. TANA TORAJA</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/indonesia/tana.jpg" />
    <ion-card-content class="ion-text-justify">
      A visit to Tana Toraja in South Sulawesi Province will not only feel like you've stepped far back in time, but also offers a look at the richness and diversity of Indonesia's long-standing cultures. <br>
      <br>
      The architectural style of Tongkonan, boat-shaped houses and other buildings, are immediate standouts, but the people are what make this piece of natural paradise so special. They are, by many accounts, the friendliest and most welcoming people you could hope to meet while traveling. <br>
      <br>
      The Toraja approach to death is one of reverence and celebration. Funerals are elaborate ceremonies involving plenty of food and traditional dance, and the dead are buried in graves built into surrounding caves. Travelers to the area can visit villages and connect with locals, or trek in the notoriously lush and pristine countryside.
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Lampung | Indonesia</ion-card-subtitle>
      <ion-card-title>5. MOUNT KRAKATAU</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/indonesia/mount.jpg" />
    <ion-card-content class="ion-text-justify">
      Surely, the eruption of Indonesia's most famous volcano, Krakatau, in 1883 was the largest in recorded history. The eruption severely impacted climate conditions around the world and took a devastating toll on human life on nearby Java and Sumatra. Anak Krakatau, "Child of Krakatau," is the youngest of the islands formed by the 1883 eruption, and forced itself above the surface in 1930. <br>
      <br>
      This young and volatile volcano continues to rise higher out of the sea and have significant eruptions. Anak Krakatau still belches smoke and fire, and tourists can visit Krakatau's child for a reminder of the awesome, unseen power just beneath the surface at every turn in Indonesia.
    </ion-card-content>
  </ion-card>

  <ion-button routerLink="/home" class="ion-margin" color="black">
    <b>Back to Home Page</b>
  </ion-button>

</ion-content>