<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title ion-title class="tb">
        Japan
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <img src="assets/japan/jpflag.jpg" id="imgflag" class="background ion-padding">
  <h3 class="ion-text-justify">
    <b>5 Most Popular Tourist Spot in Japan</b>
  </h3>
  <img src="assets/japan/jpstart.jpg" alt="#" class="phstartbg">
  <p class="ion-text-justify"> Japan, like any other country, is filled with interesting stories, a rich culture, history, and many beautiful Japan tourist spots but, there’s something about the Land of the Rising Sun that makes travelers go crazy about it. Just like the pocket of Japan-born fictional anime character Doraemon, Japan never fails to surprise us with many beautiful Japan tourist spots to explore and amazing things to experience.</p>

  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Central-east region of Honshu | Japan</ion-card-subtitle>
      <ion-card-title>1. TOKYO</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/japan/tokyo.jpg" />
    <ion-card-content class="ion-text-justify">
      The most famous tourist spot in Japan. Being the capital of the country, Tokyo is one of the country’s premier hubs for entertainment, shopping, culture, and cuisine. <br>
      <br>
      While it boasts some of the country’s most vibrant spots, you can also immerse in Japan’s culture through the temples, shrines, and gardens in Tokyo. Tokyo, formerly (until 1868) Edo, city and capital of Tokyo to (metropolis) and of Japan. It is located at the head of Tokyo Bay on the Pacific coast of central Honshu. It is the focus of the vast metropolitan area often called Greater Tokyo, the largest urban and industrial agglomeration in Japan.
    </ion-card-content>
  </ion-card>
  
  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Kyoto City | Japan</ion-card-subtitle>
      <ion-card-title>2. KYOTO</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/japan/kyoto.jpg" />
    <ion-card-content class="ion-text-justify">
      Another famous place in Japan is Kyoto which has the highest concentration of cultural treasures in Japan. This is a perfect place for travelers who want to get a glimpse of old Japan. <br>
      <br>
      It served as Japan’s capital and the emperor’s residence from 794 until 1868, and witnessed some of the worst disasters. But, it stood the test of time. Now, its main attractions include various temples, gardens, and castles, many of which are part of UNESCO World Heritage Sites.
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Saitama | Japan</ion-card-subtitle>
      <ion-card-title>3. HITSUJIYAMA PARK</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/japan/park.jpg" />
    <ion-card-content class="ion-text-justify">
      If you’re a certified pink lover, your heart will skip a beat when you see this beautiful place in Japan. Hitsujiyama Park is known for its pink moss festival in spring. The Hill of Pink Moss fields are located at the southern end of the park and have multiple types of moss pink spread all over the fields to give them hues of pink, purple and white. If you’re wondering how they bloomed so beautifully, it’s because the flowers there have been planted strategically to make colorful patterns that make for quite the display. <br>
      <br>
      If you want to see it in full bloom, visit the park around late April to early May.
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>North of Japan | Japan</ion-card-subtitle>
      <ion-card-title>4. HOKKAIDO</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/japan/hokkaido.jpg" />
    <ion-card-content class="ion-text-justify">
      Hokkaido is the least developed of Japan’s four main islands, it remains on every traveler’s radar who wants to get closer to nature. Because of Hokkaido’s unspoiled nature, many outdoor lovers, including skiers, snowboarders, hikers, cyclists and campers visit here. During winter, its weather is harsh with lots of snowfall, below zero temperatures and frozen seas, while in summer it doesn’t get as hot and humid as in the other parts of Japan. Don’t miss this Japan tourist attraction if you want a memorable trip.
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Osaka | Japan</ion-card-subtitle>
      <ion-card-title>5. OSAKA</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/japan/osaka.jpg" />
    <ion-card-content class="ion-text-justify">
      Osaka is Japan’s second largest metropolitan area. Being a city of unique culinary style, food is another area where Osaka stands out. The food is filling, sumptuous, and so affordable. <br>
      <br>
      It has been the economic powerhouse of the Kansai Region for many centuries. Osaka was formerly known as Naniwa. Before the Nara Period, when the capital used to be moved with the reign of each new emperor, Naniwa was once Japan's capital city, the first one ever known. <br>
      <br>
      In the 16th century, Toyotomi Hideyoshi chose Osaka as the location for his castle, and the city may have become Japan's political capital if Tokugawa Ieyasu had not terminated the Toyotomi lineage after Hideyoshi's death and moved his government to distant Edo (Tokyo).
    </ion-card-content>
  </ion-card>

  <ion-button routerLink="/southkorea" class="ion-margin" color="black">
    <b>Next Country</b>
  </ion-button>

</ion-content>