<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title ion-title class="tb">
        China
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <img src="assets/china/chflag.png" id="imgflag" class="background ion-padding">
  <h3 class="ion-text-justify">
    <b>5 Most Popular Tourist Spot in China</b>
  </h3>
  <img src="assets/china/chstart.jpg" alt="#" class="phstartbg">
  <p class="ion-text-justify">   Ever since the world first discovered China through the writings of adventurer Marco Polo more than 700 years ago, this large Asian country has come to be regarded as the embodiment of all that is mysterious and exotic. Even now, after decades of economic growth, this vast country has lost none of its fascination. Indeed, the contrast between China's ancient customs and the new ultra-modern state that is developing has only increased the fascination with a culture that dates back many millennia. <br>
  <br>
  Discover fascinating, unusual, and adventurous things to do with our list of the top tourist attractions in China.
  </p>

  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Huairou District | China</ion-card-subtitle>
      <ion-card-title>1. THE GREAT WALL OF CHINA</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/china/wall.jpg" />
    <ion-card-content class="ion-text-justify">
      Nobody can be a true hero unless he has been on the Great Wall" goes the popular Chinese saying, one that clearly demonstrates the importance placed upon this unique ancient monument. <br>
      <br>
      The magnificent Great Wall of China - known in Chinese as 'Changcheng', or the 'Long Wall' - stretches more than 6,000 kilometers from the fortresses of Shanhaiguan in the east all the way to Jiayuguan in the west, passing through Hebei, Tientsin, Beijing – where the best preserved sections of the wall can be visited – Inner Mongolia, Ningxia, and Gansu. <br>
      <br>
      Today, the most visited section of the wall is near Badaling Pass northwest of Beijing, easily reached by public transport or organized tours. Other restored sections worth a visit include the section near Gubeikou, 130 kilometers from Beijing; and in Mutianyu, just 70 kilometers northeast of Beijing.
    </ion-card-content>
  </ion-card>
  
  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Beijing | China</ion-card-subtitle>
      <ion-card-title>2. THE FORBIDDEN CITY</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/china/forbidden.jpg" />
    <ion-card-content class="ion-text-justify">
      China's largest and most important building, the Forbidden City (Zǐjìnchéng) – also known as the Imperial Palace – is situated in the very heart of Beijing and is a must-see when visiting the country. Started during the Yuan Dynasty between 1271-1368, much of the complex seen today was built between 1406 and 1420. Really many splendid palaces in one, this sprawlinng complex was the residence of 24 Ming and Qing Emperors, whose presence forbade the entry of anyone other than the imperial family and their courtesans. <br>
      <br>
      Covering some 720,000 square meters and protected by a 10-meter-high wall with watchtowers and a wide moat, this massive complex consists of areas set aside for ceremonial and administrative purposes, as well as a private residence used by the emperor. While it can take many hours to see everything, highlights include the five white marble Golden River Bridges; the Hall of Supreme Harmony, a 35-meter-tall building housing the imperial throne; and the exquisite emperor's banquet hall (the Hall of Preserving Harmony); and the Palace Museum with its large collection of art and artifacts from the Ming and Qing dynasties (English language museum tours are available). <br>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Guilin, in South China's Guangxi Province | China</ion-card-subtitle>
      <ion-card-title>3. LI RIVER</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/china/river.jpg" />
    <ion-card-content class="ion-text-justify">
      The town of Guilin, in the northeast corner of Guangxi, boasts some of China's most beautiful countryside and is famous for the Li River, which meanders through the town and surrounding karst mountains. While for hundreds of years this unique scenery has attracted poets and artists and has been the subject of countless fairy tales and legends, these days, it's popular with tourists from around the world wanting to see this natural splendor up close. <br>
      <br>
      The best way to enjoy the area is to take a cruise along the Li River. The most popular stretch is from Guilin to Yangshuo, where the river meanders peacefully through some 80 kilometers of remarkable rock formations and caves with romantic names such as the Mount of Unique Beauty, Elephant Trunk Hill, and Reed Flute Cave. Depending upon the type of boat used – you can choose from a tourist cruise ship to small bamboo punts – trips can take anywhere from a few hours to multiple days. <br>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Hubei province | China</ion-card-subtitle>
      <ion-card-title>4. XILING GORGE, YANGTZE RIVER</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/china/xiling.jpg" />
    <ion-card-content class="ion-text-justify">
      Known in China as Chang Jiang ("Long River"), the mighty Yangtze River extends more than 6,000 kilometers, making it the longest and most important river in China and the third longest in the world after the Amazon and the Nile. <br>
      <br>
      The magnificent Great Wall of China - known in Chinese as 'Changcheng', or the 'Long Wall' - stretches more than 6,000 kilometers from the fortresses of Shanhaiguan in the east all the way to Jiayuguan in the west, passing through Hebei, Tientsin, Beijing – where the best preserved sections of the wall can be visited – Inner Mongolia, Ningxia, and Gansu. <br>
      <br>
      While its immense length ensures the river can be visited at numerous points in China, by far the most popular for tourists is the beautiful Three Gorges – Qutang, Wu, and Xiling – a 200-kilometer stretch between the towns of Fengjie and Yichang. In places a mix of raging torrents and dangerous shallows, here the river winds its way through the gorges and their rugged cliffs and high mountain peaks in a stretch of scenery as dramatic as the Grand Canyon. <br>
      <br>
      Numerous sightseeing options are available, from luxurious riverboat cruises focusing on the region's many historical attractions and places of scenic beauty to challenging adventure tours along the most dramatic sections of the river.
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Jiangsu Province | China</ion-card-subtitle>
      <ion-card-title>5. THE CLASSICAL GARDENS OF SUZHOU</ion-card-title>
    </ion-card-header>
    <img alt="#" src="assets/china/gardens.jpg" />
    <ion-card-content class="ion-text-justify">
      Considered one of the world's most important historic gardens – hence their designation as a UNESCO World Heritage Site – the Classical Gardens of Suzhou should rank highly on your China travel itinerary. Located in the historic city of Suzhou in Jiangsu province, these magnificent gardens were established in the 11th century, at a time when the city was experiencing unprecedented growth, and were among some 270 or more gardens planted here. <br>
      <br>
      Of the surviving restored gardens, the most famous is the delightful Garden of Lingering, a seven-acre site laid out in 1800 on the site of a park originally created during the Ming Dynasty. One of the most famous garden complexes in China, the garden boasts a pool, several attractive buildings, a man-made hill, a grove of peach trees, and a lovely covered pathway on the walls of which hang more than three hundred stone tablets engraved with old Chinese characters. <br>
      <br>
      Also worth visiting is the Garden of the Cang Lang Ting Pavilion, a two-acre garden offering many unique features, including a double arcade connecting the inner and outer sections.
    </ion-card-content>
  </ion-card>

  <ion-button routerLink="/indonesia" class="ion-margin" color="black">
    <b>Next Country</b>
  </ion-button>

</ion-content>